!
hostname myhost-narb
password xxxxx
log stdout
!
interface gre10
 description GRE tunnel between this narb server and a peer narb server
 ip ospf network point-to-point
!
router ospf
 ospf router-id 10.200.100.2
 network 10.200.100.0/30 area 0.0.0.1
!
line vty
!
