<SCHEMA VERSION="1.0">
<RESOURCE DOMAIN="GLOBAL" TAG="LSA/OPAQUE/TE/LINK" RID="1.10.1.2">
	<TLV TYPE="1" LENGTH="1" DATA_TYPE="U_INT8" TAG="LINK_TYPE"/>
	<TLV TYPE="2" LENGTH="4" DATA_TYPE="IPV4" TAG="LINK_ID"/>
	<TLV TYPE="3" LENGTH="4" DATA_TYPE="IPV4" TAG="LOCAL_INTERFACE"/>
	<TLV TYPE="4" LENGTH="4" DATA_TYPE="IPV4" TAG="REMOTE_INTERFACE"/>
	<TLV TYPE="5" LENGTH="4" DATA_TYPE="NUMBER" TAG="METRIC"/>
	<TLV TYPE="6" LENGTH="4" DATA_TYPE="FLOAT" TAG="MAX_BANDWIDTH"/>
	<TLV TYPE="7" LENGTH="4" DATA_TYPE="FLOAT" TAG="MAX_RESV_BANDWIDTH"/>
	<TLV TYPE="8" LENGTH="32" DATA_TYPE="FLOAT" TAG="UNRESV_BANDWIDTH"/>
	<TLV TYPE="9" LENGTH="4" DATA_TYPE="NUMBER" TAG="ADMIN_GROUP"/>
	<TLV TYPE="11" LENGTH="8" DATA_TYPE="IPV4" TAG="LOCAL_REMOTE_IDS"/>
	<TLV TYPE="14" LENGTH="4" DATA_TYPE="NUMBER" TAG="PROTECTION_TYPE"/>
	<TLV TYPE="15" LENGTH="40" DATA_TYPE="LIST" TAG="ISCD"/>
	<TLV TYPE="16" LENGTH="4" DATA_TYPE="LIST" TAG="SRLG"/>
		<!Define DRAGON TLV's below>
	<TLV TYPE="16385" LENGTH="24" DATA_TYPE="LIST" TAG="RESV_SCHEDULE"/>
	<TLV TYPE="16386" LENGTH="36" DATA_TYPE="LIST" TAG="IACD"/>
	<TLV TYPE="16400" LENGTH="4" DATA_TYPE="NUMBER" TAG="DOMAIN_ID"/>
</RESOURCE>
<RESOURCE DOMAIN="LOCAL" TAG="LSA/OPAQUE/TE/LINK" RID="1.10.1.2">
        <TLV TYPE="1" LENGTH="1" DATA_TYPE="U_INT8" TAG="LINK_TYPE"/>
        <TLV TYPE="2" LENGTH="4" DATA_TYPE="IPV4" TAG="LINK_ID"/>
        <TLV TYPE="3" LENGTH="4" DATA_TYPE="IPV4" TAG="LOCAL_INTERFACE"/>
        <TLV TYPE="4" LENGTH="4" DATA_TYPE="IPV4" TAG="REMOTE_INTERFACE"/>
        <TLV TYPE="5" LENGTH="4" DATA_TYPE="NUMBER" TAG="METRIC"/>
        <TLV TYPE="6" LENGTH="4" DATA_TYPE="FLOAT" TAG="MAX_BANDWIDTH"/>
        <TLV TYPE="7" LENGTH="4" DATA_TYPE="FLOAT" TAG="MAX_RESV_BANDWIDTH"/>
        <TLV TYPE="8" LENGTH="32" DATA_TYPE="FLOAT" TAG="UNRESV_BANDWIDTH"/>
        <TLV TYPE="9" LENGTH="4" DATA_TYPE="NUMBER" TAG="ADMIN_GROUP"/>
        <TLV TYPE="11" LENGTH="8" DATA_TYPE="IPV4" TAG="LOCAL_REMOTE_IDS"/>
        <TLV TYPE="14" LENGTH="4" DATA_TYPE="NUMBER" TAG="PROTECTION_TYPE"/>
        <TLV TYPE="15" LENGTH="40" DATA_TYPE="LIST" TAG="ISCD"/>
        <TLV TYPE="16" LENGTH="4" DATA_TYPE="LIST" TAG="SRLG"/>
                <!Define Movaz TLV's below>
        <TLV TYPE="33025" LENGTH="8" DATA_TYPE="U_INT64" TAG="MOVAZ1"/>
        <TLV TYPE="33031" LENGTH="36" DATA_TYPE="LIST" TAG="MOVAZ2"/>
        <TLV TYPE="33033" LENGTH="8" DATA_TYPE="U_INT64" TAG="MOVAZ3"/>
        <TLV TYPE="33035" LENGTH="4" DATA_TYPE="U_INT32" TAG="MOVAZ4"/>
</RESOURCE>
</SCHEMA>
